.navbar{
    display: flex;
    flex-flow: row;
    background-color: black;
}
.navbar a{
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 10px;
}
.about-sec{
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-color: rgb(211, 254, 240);
    border: 1px solid black;
}

.about-sec h2{
    text-align: center;
}
